<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576934019579-jpfqd3pqaf7if7dkp68d02n0493tqiu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576934019579-jpfqd3pqaf7if7dkp68d02n0493tqiu8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>576934019579-jm0b8oaugigscph0h1u4eugfsfbeqtm4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAgQeKEytdCCdG770FZwcjP7KQvMjcakz4</string>
	<key>GCM_SENDER_ID</key>
	<string>576934019579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlineShopping</string>
	<key>PROJECT_ID</key>
	<string>onlinestore-5b4f8</string>
	<key>STORAGE_BUCKET</key>
	<string>onlinestore-5b4f8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576934019579:ios:1814d6add60f4092b5cb5e</string>
</dict>
</plist>